* {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

body {
    background: rgba(0, 0, 0, 0.7) url(images2/background.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-blend-mode: darken;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
}

li {
    display: inline;
}

li a {
    padding: 10px;
    text-decoration: none;
    color: white;
}

.nbar {
    background: transparent;
    float: right;
    margin-top: 20px;
    margin-right: 50px;
}

.logo{
    width: 200px;
    margin-left: 1px;
    margin-top: 5px;
}

.btn1 {
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    background: transparent;
}

.btn1:hover {
    color: black;
    background-color: white;
}

.para1 {
    margin-left: 160px;
    margin-right: 160px;
}

.para2 {
    border: 3px solid;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
}

.para2:hover{
    color: gray;
    transition: 0.8s;
    cursor: pointer;
}

.mp3img {
    border-radius: 20px;
}

td {
    padding: 10px;
}


footer {
    background-color: transparent;
}

.footerContainer {
    width: 96%;
    padding: 70px 30px 20px;
}

.socialIcons {
    display: flex;
    justify-content: center;
}

.socialIcons a {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a i {
    font-size: 2em;
    color: black;
    opacity: 0, 9;
}

.footerBottom {
    background-color: #000;
    padding: 20px;
    text-align: center;
}

.footerBottom p {
    color: white;
}